<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    TestCoverage
    CDI

-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:calendar.properties"/>
    </bean>



    <bean id="calendarServiceRmi" class="com.dio.calendar.CalendarServiceRemoteImpl" lazy-init="true">
        <constructor-arg ref="dataStore" />
    </bean>

    <bean id="calendarServiceRest" class="com.dio.calendar.CalendarRemoteServiceRestImpl">
        <constructor-arg ref="dataStore" />
    </bean>

    <bean id="dataStore" class="com.dio.calendar.datastore.CalendarDataStoreImpl" init-method="init">
        <constructor-arg ref="dataStoreJdbc"/>
    </bean>


    <!-- JDBCtemplate -->
    <bean id="dataStoreJdbc" class="com.dio.calendar.datastore.DataStoreJDBCImpl">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataStoreDB" class="com.dio.calendar.datastore.DataStoreHibernateImpl" lazy-init="true">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" lazy-init="true">
        <property name="configLocation" value="classpath:hibernate.${hibernate.profile}.cfg.xml"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager" lazy-init="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="dataStoreDS" class="com.dio.calendar.datastore.DataStoreDSImpl" lazy-init="true">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--<property name="driverClassName" value="${jdbc.driverClassName}"/>-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
        <!--<property name="driverClassName" value="com.sybase.jdbc4.jdbc.SybDriver" />-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/test" />-->
        <!--<property name="username" value="root" />-->
        <!--<property name="password" value="" />-->
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <bean id="dataStoreFs" class="com.dio.calendar.datastore.DataStoreFSImpl" lazy-init="true">
        <constructor-arg value="${database.path}"/>
        <constructor-arg ref="fileSystemHelper"/>
    </bean>

    <bean id="fileSystemHelper" class="com.dio.calendar.datastore.FileSystemHelperImpl" lazy-init="true"/>

    <!--<bean class="org.springframework.remoting.rmi.RmiServiceExporter">-->
        <!-- does not necessarily have to be the same name as the bean to be exported -->
        <!--<property name="serviceName" value="CalendarService"/>-->
        <!--<property name="service" ref="calendarService"/>-->
        <!--<property name="serviceInterface" value="com.dio.calendar.CalendarService"/>-->
        <!-- defaults to 1099 -->
        <!-- TODO: set to 1099 or 1199 -->
        <!--<property name="registryPort" value="1199"/>-->
    <!--</bean>-->


    <!--<bean id="calendarWebService" class="com.dio.calendar.webservice.CalendarWebService" />-->
    <!--<bean id="calendarWebServiceLogin" class="com.dio.calendar.webservice.CalendarWebServiceLogin" />-->

    <!--<bean id="calendarWebServiceMemberFilter" class="com.dio.calendar.webservice.CalendarWebServiceMemberFilter" />-->

    <bean id="messageDispatcher" class="org.springframework.ws.soap.server.SoapMessageDispatcher"/>

    <bean id="calendarServiceWs" class="com.dio.calendar.CalendarRemoteServiceSoapImpl">
        <constructor-arg ref="dataStore" />
    </bean>

</beans>