<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:calendar.properties"/>
    </bean>

    <bean id="calendarService" class="com.dio.calendar.CalendarServiceRemoteImpl">
        <constructor-arg ref="dataStore" />
    </bean>

    <bean id="dataStore" class="com.dio.calendar.datastore.CalendarDataStoreImpl" init-method="init">
        <constructor-arg ref="dataStoreFs"/>
    </bean>

    <bean id="dataStoreFs" class="com.dio.calendar.datastore.DataStoreFSImpl">
        <constructor-arg value="${database.path}"/>
        <constructor-arg ref="fileSystemHelper"/>
    </bean>

    <bean id="fileSystemHelper" class="com.dio.calendar.datastore.FileSystemHelperImpl">
    </bean>


</beans>