<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url">jdbc:sybase:Tds:dio32:2638/IDAS_DEV</property>-->
        <!--<property name="connection.url">jdbc:sybase:Tds:dio32:2638/IDAS_DEV?ENABLE_BULK_LOAD=true</property>-->
        <property name="connection.url">jdbc:sqlanywhere:Server=idas_dev;DBN=idas_dev;links=tcpip{host=dio32;port=2638}</property>
        <!--<property name="connection.driver_class">com.sybase.jdbc4.jdbc.SybDriver</property>-->
        <property name="connection.autocommit">true</property>
        <property name="connection.username">AIFMD_DEV</property>
        <property name="connection.password">AIFMD_DEV1234!</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <!--<property name="dialect">org.hibernate.dialect.SQLAnywhere11Dialect</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.SybaseDialect</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <mapping resource="EntryWrapper.hbm.xml" />

    </session-factory>

</hibernate-configuration>

